<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDownloader.Tray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PDownloader.Tray.Properties.Settings>
            <setting name="IWindowBackdropType" serializeAs="String">
                <value>Tabbed</value>
            </setting>
            <setting name="IThemeType" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="Window_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="IsWindow_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUpCode" serializeAs="String">
                <value>xv1</value>
            </setting>
            <setting name="IsAutoHideNavPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ObjectCornerRadius" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="FTracking" serializeAs="String">
                <value />
            </setting>
            <setting name="APITracking" serializeAs="String">
                <value />
            </setting>
            <setting name="IsStartTracking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsStartAtBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RSyncIP" serializeAs="String">
                <value />
            </setting>
            <setting name="RSyncDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RSyncUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="RSyncRSADir" serializeAs="String">
                <value />
            </setting>
            <setting name="RSyncRSAPassphrase" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSupportFAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSupportRsync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSupportWebService" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebServicePort" serializeAs="String">
                <value>7800</value>
            </setting>
        </PDownloader.Tray.Properties.Settings>
    </userSettings>
</configuration>